<nav class="topnav" id="myTopnav">
  {% for item in site.data.navigation %}
    <a href="{{site.baseurl}}{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  <a href="javascript:void(0);" class="icon" onclick="showMenu()">
    <i class="fa fa-bars"></i>
  </a>
  
</nav>

